<div class="economics-tools-panel">
  <div class="btn-group-vertical" data-toggle="buttons">
    <label id="economics-tool-select" class="btn btn-default sc-no-default-cmd btn-xs"
           sc_control_sys_idtf="ui_economics_control_tool_select">
      <input type="radio" name="options" id="option1"> <img
      src="static/components/images/economics/tool-select.png"/> </input>
    </label>
    <label id="economics-tool-edge" class="btn btn-default sc-no-default-cmd btn-xs"
           sc_control_sys_idtf="ui_economics_control_tool_edge">
      <input type="radio" name="options" id="option1"> <img
      src="static/components/images/economics/tool-pair.png"/> </input>
    </label>
    <label id="economics-tool-link" class="btn btn-default sc-no-default-cmd btn-xs"
           sc_control_sys_idtf="ui_economics_control_tool_link">
      <input type="radio" name="options" id="option1"> <img
      src="static/components/images/economics/tool-link.png"/> </input>
    </label>
  </div>
  <hr/>
  <div class="btn-group-vertical">
    <button id="economics-tool-undo" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_undo">
      <img src="static/components/images/economics/tool-undo.png"/>
    </button>
    <button id="economics-tool-redo" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_redo">
      <img src="static/components/images/economics/tool-redo.png"/>
    </button>
    <button id="economics-tool-change-idtf" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden"
            sc_control_sys_idtf="ui_economics_control_tool_change_idtf" data-title="Change identifier"
            data-content="<div class='input-group'><input id='economics-change-idtf-input' class='form-control pull-left' value='' autofocus /> <div class='input-group-btn'><button type='button' id='economics-change-idtf-apply' class='btn btn-success'><span class='glyphicon glyphicon-ok-sign'/></button><button type='button' id='economics-change-idtf-cancel' class='btn btn-danger'><span class='glyphicon glyphicon-remove-sign'/></button></div></div>"
            data-html="true" data-placement="right" data-toggle="popover">
      <img src="static/components/images/economics/tool-change-idtf.png"/>
    </button>
    <button id="economics-tool-set-content" type='button' class="btn btn-default sc-no-default-cmd btn-xs hidden"
            sc_control_sys_idtf="ui_economics_control_tool_set_content"
            data-content="<select id='economics-set-content-type' class='form-control'><option value='string'>string</option><option value='float'>float</option><option value='int8'>int8</option><option value='int16'>int16</option><option value='int32'>int32</option><option value='html'>html</option></select> <textarea cols='30' rows='3' id='economics-set-content-input' class='form-control pull-left' value='' autofocus /> <br/><input id='content' type='file' accept='image/*,text/html'/> <div id='economics-set-content-buttons-group' class='row'><button type='button' id='economics-set-content-apply' class='btn btn-success pull-left'><span class='glyphicon glyphicon-ok-sign'/>Apply</button><button type='button' id='economics-set-content-cancel' class='btn btn-danger pull-right'><span class='glyphicon glyphicon-remove-sign'/>Cancel</button></div>"
            data-html="true" data-placement="right" data-toggle="popover">
      <img src="static/components/images/economics/tool-set-content.png"/>
    </button>
    <button id="economics-tool-change-type" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden"
            sc_control_sys_idtf="ui_economics_control_tool_change_type">
      <img src="static/components/images/economics/tool-change-type.png"/>
    </button>
    <button id="economics-tool-delete" type="button" class="btn btn-default sc-no-default-cmd btn-xs hidden"
            sc_control_sys_idtf="ui_economics_control_tool_delete">
      <img src="static/components/images/economics/tool-delete.png"/>
    </button>
    <button id="economics-tool-zoomin" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_zoomin">
      <img src="static/components/images/economics/tool-zoom-in.png"/>
    </button>
    <button id="economics-tool-zoomout" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_zoomout">
      <img src="static/components/images/economics/tool-zoom-out.png"/>
    </button>
    <button id="economics-tool-integrate" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_integrate">
      <img src="static/components/images/economics/tool-integrate.png"/>
    </button>
    <button id="economics-tool-clear" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_clear">
      <img src="static/components/images/economics/tool-clear.png"/>
    </button>
    <button id="economics-tool-legend" type="button" class="btn btn-default sc-no-default-cmd btn-xs"
            sc_control_sys_idtf="ui_economics_control_tool_legend">
      <img src="static/components/images/economics/tool-legend.png"/>
    </button>
  </div>
</div>
